.employee-logs-container {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.log-item {
    margin-bottom: 10px;
}

.log-item h3 {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    color: #333;
}
