.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: url('background.jpg');
    background-size: cover; /* Cover the entire container */
    background-position: center; /* Center the image */
}

.login-form {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: rgba(255, 255, 255, 0.8); /* Add some transparency */
}

.form-group {
    margin-bottom: 20px;
    
}

label {
    display: block;
    margin-bottom: 5px;
    text-align: left; /* Align label to the left */
}

.form-control {
    width: calc(100% - 22px); /* Set input field width to 100% minus the width of the label */
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px; /* Add some margin-bottom */
}

.error-message {
    color: red;
    font-size: 14px;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 300px;
}

.btn-success {
    background-color: #28a745;
    color: #fff;
}

.btn-light {
    background-color: #f8f9fa;
    color: #212529;
    margin-left: 10px;
}

.btn-light:hover {
    background-color: #e2e6ea;
}
