/* ViewEmployees.css */
h2 {
    color: white;
}
.table {
    width: 100%;
    border-collapse: collapse;
}

.table th, .table td {
    border: 1px solid #dddddd;
    padding: 8px;
    text-align: left;
}

.table th {
    background-color: #f2f2f2;
}
.delete-button {
    background-color: #dc3545; /* Red color */
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
}

.delete-button:hover {
    background-color: #c82333; /* Darker red color on hover */
}

